* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center; 
    align-content: center;
    grid-template-columns: repeat(3,auto);
    background-color: brown;
}
.elemento {
    width: 6vw;
    height: 12vh;
    background-color: rgb(127, 127, 148);
    margin: 0.4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 5vw;
    height: 10vh;
    display: none;
}
