* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4vw;
}
h1 {
    font-family:'Roboto', sans-serif;
    font-size: 8vh;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    gap:1.5vw;
}
#first-string {
    width: 18vw;
    height: 6vh;
}
#second-string {
    width: 18vw;
    height: 6vh;
}
#compare-string {
    width: 10vw;
    height: 8vh;
    opacity: 0.8;
    border-radius: 2vw;
    border: none;
    font-size: 3vh;
    font-family:'Roboto', sans-serif;
    background-color: rgb(93, 88, 97);
    color: rgb(29, 28, 28);
}
#compare-string:hover {
    background-color: rgb(31, 28, 32);
    color: blanchedalmond;
    transition: 1.5s ease-in-out;
}
h2 {
    font-family:'Roboto', sans-serif;
    font-size: 4vh;
}